<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <th:block th:include="fragments/layout :: head-cdn"></th:block>
    <th:block th:include="fragments/layout :: head-upsilonium"></th:block>
</head>
<body>
<header th:replace="fragments/layout :: header"></header>
<div class="container-fluid bg-lorem-fullhd">
    <div class="container min-vh-100-navbar d-flex align-items-center" id="main-container">
        <div class="mx-auto" style="max-width: 600px">
            <div class="row">
                <div class="col text-center">
                    <h1 style="font-size: 15rem">403</h1>
                    <h2>Error: Forbidden</h2>
                    <p>You don't have permission to access this resource</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="fragments/layout :: js-bootstrap"></th:block>
</html>